.skills-road {
  background: url("./assets/skills-background.png") center no-repeat;
  background-size: cover;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;

  &__row {
    padding: 100px 20px 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;

    @include breakpoint("sm") {
      grid-template-columns: 1fr 1fr;

      &:nth-of-type(2n + 1) .skills-road__step {
        grid-column: 2;
        margin-left: 50px;
      }

      &:nth-of-type(2n) .skills-road__step {
        grid-column: 1;
        margin-right: 50px;
      }
    }

    @include breakpoint("md") {
      padding: 100px 20px 50px 20px;
    }

    @include breakpoint("lg") {
      padding: 100px 200px 50px 100px;
    }

    @include breakpoint("xlg") {
      padding: 100px 240px 50px 150px;
    }
  }

  &__step {
    background: $white;
    box-shadow: 0px 2px 8px 0px #e0e0e0;
    padding: $spacing-unit * 2 $spacing-unit * 3;
    opacity: 0;
    transition: 1s ease-in;
    position: relative;
    border-radius: 6px;

    &.animate {
      opacity: 1;
    }

    &-title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
      text-align: center;
      color: $details-color;
    }

    &-timeline {
      font-size: 14px;
      line-height: 16px;
      margin-top: $spacing-unit * 2;

      &-position {
        margin: $spacing-unit 0;
      }

      &-date {
        font-style: italic;
      }
    }

    &-arrow {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    &-modal {
      display: block;
      position: absolute;
      z-index: $modalZindex;
      background-color: $white;
      box-shadow: 0px 2px 8px 0px #e0e0e0;
      padding: $spacing-unit * 2 $spacing-unit * 3;
      top: 0;
      left: 0;
      border-radius: 6px;

      h3 {
        font-size: 20px;
        line-height: 32px;
      }

      &__description {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: $spacing-unit * 2;
      }
    }

    &-technologies {
      display: grid;
      grid-template: 1fr / repeat(6, 1fr);
      row-gap: $spacing-unit * 2;
      justify-items: center;
      align-items: center;
      margin: $spacing-unit * 2 0;
      font-size: 40px;

      .tech-desc {
        font-size: 12px;
      }

      &__technology {
        position: relative;
        cursor: pointer;

        &:hover .tooltip {
          visibility: visible;
          opacity: 1;
        }

        img {
          max-width: 100%;
          max-height: 40px;
        }
      }
    }
  }

  .isHidden {
    display: none;
  }

  &__projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing-unit * 2;
    
    @include breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__project-box {
    min-height: 50px; 
    display: flex;
    justify-content: center;

    .data {
      color: $details-color;
      font-weight: 700;
    }

    a.data {
      font-size: 14px;
      line-height: 18px;
      margin: $spacing-unit * 2 0;

      &:hover {
        color: $dark-details;
      }
    }

    &__description {
      margin: $spacing-unit 0;
    }
  }

  .project-box {
    &__image {
      position: relative;
      margin-bottom: $spacing-unit;

      img {
        background-size: cover;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 0;
        -webkit-transition: 1s;
        transition: 1s;
      }
    }
  
    &__details {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $details-color;
      color: whitesmoke;
      opacity: 0;
      transition: opacity 0.25s ease-out;

      > i {
        margin: $spacing-unit;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
