@keyframes appearing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes delayAppearing {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 20px;
  }

  100% {
    bottom: 50px;
  }
}

.main {
  width: 100%;
  height: 80vh;
  position: relative;

  @include breakpoint("md") {
    height: 100vh;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: $backgroundZindex;
    object-fit: cover;
  }

  &__header {
    font-size: 32px;
    line-height: 46px;
    font-weight: 500;
    animation: appearing 14s;
    padding: $spacing-unit * 10 0 0 $spacing-unit * 2;
    text-shadow: 1px 1px $dark-grey;
    max-width: 300px;

    @include breakpoint("md") {
      font-size: 56px;
      line-height: 72px;
      padding: $spacing-unit * 14 0 0 $spacing-unit * 5;
      max-width: 550px;
    }

    @include breakpoint("xlg") {
      max-width: 1000px;
    }

    &--colored {
      color: $details-color;
    }
  }

  .menu {
    font-size: 18px;
    color: $dark-grey;
    background-color: $smoke-white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: $spacing-unit * 2;
    position: absolute;
    z-index: $menuZindex;
    right: 0;
    border-radius: 0 0 6px 6px;

    @include breakpoint("sm") {
      font-size: 22px;
    }

    @include breakpoint("md") {
      font-size: 24px;
      position: static;
      flex-direction: row;
      box-shadow: none;
      padding-top: $spacing-unit * 3;
      margin-right: $spacing-unit;
      background-color: transparent;
    }

    @include breakpoint("xlg") {
      font-size: 28px;
    }

    a {
      margin: $spacing-unit * 2 $spacing-unit;

      @include breakpoint("md") {
        margin: 0 0 0 $spacing-unit * 2;
      }

      &:hover {
        color: $details-color;
      }
    }
  }

  .delayed {
    @include breakpoint("md") {
      animation: delayAppearing 7s;
      visibility: hidden;
      animation-delay: 10s;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: $spacing-unit * 2;
    padding-left: $spacing-unit * 3;
    z-index: $socialZindex;

    a {
      border-radius: 50%;
      color: $dark-grey;
      background-color: $white;
      margin-top: $spacing-unit * 2;
      padding: $spacing-unit;

      &:hover {
        color: $details-color;
      }
    }
  }

  .arrow {
    display: none;

    @include breakpoint("md") {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30px;
      animation: jump 1.5s infinite;
      color: $details-color;
    }
  }

  .vertical-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: $spacing-unit * 2;
    background-color: $smoke-white;
    box-shadow: 0 0 0 1px $smoke-white;

    @include breakpoint("md") {
      display: none;
    }

    .isHidden {
      display: none;
    }
  }

  .mobile-hide {
    display: none;

    @include breakpoint("md") {
      display: flex;
    }
  }
}
