$dark-grey: #322626;
$white: #fff;
$details-color: #079979;

$spacing-unit: 8px;

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;

  :hover,
  :focus,
  :ative,
  :visited {
    color: inherit;
  }
}

.desktop {
  display: none;

  @include breakpoint("md") {
    display: block;
  }
}

.mobile {
  display: block;

  @include breakpoint("md") {
    display: none;
  }
}
