@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Spinnaker&display=swap");

$dark-grey: #322626;
$white: #fff;
$smoke-white: rgb(238, 240, 238);
$details-color: #079979;
$middle-details: #015240;
$dark-details: #014133;

$spacing-unit: 8px;

$backgroundZindex: -1;
$menuZindex: 2;
$modalZindex: 9;
$socialZindex: 10;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: inherit;

  :hover,
  :focus,
  :ative,
  :visited {
    color: inherit;
  }
}

.desktop {
  display: none;

  @include breakpoint("md") {
    display: block;
  }
}

.mobile {
  display: block;

  @include breakpoint("md") {
    display: none;
  }
}
